interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.bitstamp.net:443/api/ticker/
  response:
    body: {string: '{"high": "497.00", "last": "487.28", "timestamp": "1409924449",
        "bid": "487.28", "vwap": "486.91", "volume": "10433.33323594", "low": "478.23",
        "ask": "487.37"}'}
    headers:
      Content-Type: [application/json]
      Etag: ['"10073f-a0-502519e0f1cdf"']
      Last-Modified: ['Fri, 05 Sep 2014 13:40:50 GMT']
      X-CDN: [Incapsula]
      X-Iinfo: [6-14908863-0 0CNY RT(1409924457165 62) q(0 -1 -1 0) r(0 -1)]
    status: {code: 200, message: OK}
version: 1
