interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.bitstamp.net:443/api/transactions/?time=hour
  response:
    body: {string: '[{"date": "1410120369", "tid": 5884756, "price": "478.06", "amount":
        "0.10954937"}, {"date": "1410120369", "tid": 5884755, "price": "478.06", "amount":
        "0.21127055"}, {"date": "1410120369", "tid": 5884754, "price": "478.07", "amount":
        "0.21335788"}, {"date": "1410120369", "tid": 5884753, "price": "478.07", "amount":
        "0.21335788"}, {"date": "1410120369", "tid": 5884752, "price": "478.08", "amount":
        "0.20917001"}, {"date": "1410120368", "tid": 5884751, "price": "478.08", "amount":
        "0.20707831"}, {"date": "1410120368"[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.bitstamp.net:443/api/transactions/?time=minute
  response:
    body: {string: '[{"date": "1410122510", "tid": 5884931, "price": "477.47", "amount":
        "0.26950000"}, {"date": "1410122506", "tid": 5884930, "price": "478.26", "amount":
        "0.04900000"}, {"date": "1410122488", "tid": 5884929, "price": "478.25", "amount":
        "0.10400000"}, {"date": "1410122467", "tid": 5884916, "price": "478.26", "amount":
        "0.07900000"}]'}
    headers:
      Content-Type: [application/json]
      Last-Modified: ['Sun, 07 Sep 2014 20:42:06 GMT']
      X-CDN: [Incapsula]
      X-Iinfo: [10-113366262-0 0CNY RT(1410122579604 117) q(0 -1 -1 -1) r(0 -1)]
    status: {code: 200, message: OK}
version: 1
