interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.bitstamp.net:443/api/transactions/
  response:
    body: {string: '[{"date": "1409930108", "tid": 5875678, "price": "485.99", "amount":
        "0.02301473"}, {"date": "1409930068", "tid": 5875677, "price": "485.99", "amount":
        "0.04648310"}, {"date": "1409930068", "tid": 5875676, "price": "485.97", "amount":
        "0.01798875"}, {"date": "1409929947", "tid": 5875675, "price": "485.91", "amount":
        "3.29190000"}, {"date": "1409929940", "tid": 5875674, "price": "485.91", "amount":
        "2.30000000"}, {"date": "1409929708", "tid": 5875673, "price": "485.97", "amount":
        "1.23096076"}, {"date": "1409929531"[...]
